@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* RESET */

*{
    box-sizing: border-box;
}

html{
    font-family: 'lato', sans-serif;
}

body{
    margin: 0;
    background-color: #05292E;
}

h1, h2, h3, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding-left: 0
}

input{
    outline: none;
    font-family: inherit;
}

button{
    font-family: inherit;
    cursor: pointer;
}

img{
    width: 100vh;
    display: block;
}